
.header {
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.75);
    background-color: @headColor;
    box-sizing: border-box;
    height: 50px;
    border-bottom: 1px solid darken(@headColor, 5%);
}