@import "./variables";
@import "./header/header";
@import "./menu/menu";
@import "./list/list";
@import "./list/listItem";
@import "./pages/mainPage";

@headColor: @headerColor;


html, body {
    background: @backgroundColor;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    position: relative;
    overflow: hidden;
}

button, input {
    outline: none;
    padding: 0;
    margin: 0;
}

.mainContainer {
    box-sizing: border-box;
    position: absolute;
    margin-top: @headerHeight;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: inherit;

    .pageClass {
        box-sizing: border-box;
        padding: 4px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 700px) {
    #menuId, #menuId.shown {
        transform: translateX(0);
        opacity: 1;
        z-index: 1000;
    }

    .mainContainer {
        margin-left: @menuWidth;
    }

    .pageClass {
        max-width: 700px
    }
}