@import "./variables";
@import "./header/header";
@import "./menu/menu";
@import "./list/list";
@import "./list/listItem";

@headColor: @headerColor;


html, body {
    background: @backgroundColor;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    position: relative;
    overflow: hidden;
}

button, input {
    outline: none;
    padding: 0;
    margin: 0;
}