.header {
  z-index: 1;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #24292e;
  box-sizing: border-box;
  height: 51px;
  border-bottom: 1px solid #191c20;
}
.header .menuIcon {
  outline: none;
  position: relative;
  height: 100%;
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.menu {
  box-sizing: border-box;
  position: absolute;
  margin-top: 51px;
  top: 0;
  bottom: 0;
  width: auto;
  will-change: transform, opacity;
  transition: 150ms linear;
  transform: translateX(-250px);
  opacity: 0;
}
.menu .menu_block {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.menu .menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  border: none;
  border-right: 1px solid;
  height: 100%;
}
.menu .menuList_dark {
  background: #2d3640;
  border-color: #1b2128;
}
.menu .menuListItem {
  padding: 10px 5px 10px 15px;
  margin: 0;
  border: none;
  border-top: 1px solid;
  cursor: pointer;
}
.menu .menuListItem:last-of-type {
  border-bottom: 1px solid;
}
.menu .menuListItem_dark {
  color: #99acbd;
  background: #2d3640;
  border-color: #455564;
}
.menu .menuListItem_dark:last-of-type {
  border-color: #455564;
}
.menu.shown {
  transform: translateX(0);
  opacity: 1;
  z-index: 1000;
}
.list {
  box-sizing: border-box;
  position: relative;
  outline: none;
}
.list_def_color {
  background: #303b46;
}
.listItem {
  box-sizing: border-box;
  position: relative;
  outline: none;
  user-select: none;
}
.listItem_def_color {
  background: #303b46;
}
#mainPageId .date {
  background: #e5e5e5;
  font-size: 2em;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  color: #303b46;
}
#mainPageId .status {
  background: #e5e5e5;
  font-size: 2em;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  color: #303b46;
}
html,
body {
  background: #303b46;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  position: relative;
  overflow: hidden;
}
button,
input {
  outline: none;
  padding: 0;
  margin: 0;
}
.mainContainer {
  box-sizing: border-box;
  position: absolute;
  margin-top: 51px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}
.mainContainer .pageClass {
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 700px) {
  #menuId,
  #menuId.shown {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
  }
  .mainContainer {
    margin-left: 250px;
  }
  .pageClass {
    max-width: 700px;
  }
}
