/* Flex */
.header {
  z-index: 1;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #00bfc7;
  box-sizing: border-box;
  height: 51px;
  border-bottom: 1px solid #00a7ae;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.header .menuIcon {
  outline: none;
  position: relative;
  height: 100%;
  width: 30px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.header .speachItem {
  display: inline-block;
  outline: none;
  position: relative;
  height: 100%;
  width: 30px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1em;
  padding: 2px;
  margin-left: 20px;
}
.header .speachItem input {
  border: 1px solid black;
  color: transparent;
  border-radius: 50px;
}
.menu {
  box-sizing: border-box;
  position: absolute;
  margin-top: 51px;
  top: 0;
  bottom: 0;
  width: auto;
  will-change: transform, opacity;
  transition: 150ms linear;
  transform: translateX(-250px);
  opacity: 0;
  z-index: 0;
}
.menu .menu_block {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.menu .menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2em;
  border: none;
  border-right: 1px solid;
  height: 100%;
}
.menu .menuList_dark {
  background: #f7f7ff;
  border-color: #c4c4ff;
}
.menu .menuListItem {
  padding: 0px;
  margin: 0;
  border: none;
  border-top: 1px solid;
  cursor: pointer;
}
.menu .menuListItem:last-of-type {
  border-bottom: 1px solid;
}
.menu .listItemLink {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 5px 10px 15px;
}
.menu .menuIcon {
  display: inline-block;
  height: 21px;
  width: 21px;
  padding-right: 10px;
}
.menu .menuListItem_dark {
  color: #596a7e;
  background: #f7f7ff;
  border-color: #dedeff;
}
.menu .menuListItem_dark:last-of-type {
  border-color: #dedeff;
}
.menu.shown {
  transform: translateX(0);
  opacity: 1;
  z-index: 1000;
}
.list {
  box-sizing: border-box;
  position: relative;
  outline: none;
}
.list_def_color {
  background: #f7f7ff;
}
.listItem {
  box-sizing: border-box;
  position: relative;
  outline: none;
  user-select: none;
}
.listItem_def_color {
  background: #f7f7ff;
}
#mainPageId {
  height: 100%;
  overflow-y: auto;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#mainPageId .date {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 5px;
  text-align: center;
  color: #eafbfc;
}
#mainPageId .date .time {
  background: #43adba;
  font-size: 1.6em;
  padding: 2px 7px;
  border-radius: 5px;
}
#mainPageId .status {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: white;
  border: 1px sodid #43adba;
  font-size: 2em;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  color: #eafbfc;
  max-height: 500px;
  box-shadow: 0 0 3px 4px #f5f5ff;
}
#mainPageId .status .summary {
  color: #42bcce;
}
#mainPageId .status .currentState {
  color: rgba(0, 191, 199, 0.8);
}
#mainPageId .status .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}
#mainPageId .status .existsToday {
  color: rgba(127, 89, 188, 0.69019608);
}
#mainPageId .buttons {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  font-size: 2em;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  height: 80px;
}
#mainPageId .actionButton {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 30px;
  width: 60px;
  height: 60px;
  font-size: inherit;
  border: 3px solid #00bac2;
  border-radius: 60px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: bold;
  background: #00bfc7;
}
#mainPageId .actionButton .buttonLink {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 10px;
}
#mainPageId .list {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  height: 80px;
}
#mainPageId .list .actionButton {
  width: auto;
  padding: 0 10px;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
#listPageId {
  overflow: hidden;
  height: 100%;
}
#listPageId .list {
  overflow-y: scroll;
  height: 100%;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
#listPageId .date {
  padding: 10px;
  text-align: center;
  background: #00bfc7;
  color: #eafbfc;
  font-size: 1.6em;
  padding: 2px 7px;
  border-radius: 5px;
}
#listPageId .listRow {
  padding: 10px 5px;
}
#listPageId .listRowDate {
  background: #43adbac7;
  color: #eafbfc;
  padding: 5px 10px;
}
#listPageId .listIncomingRow {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  padding: 8px 5px;
  cursor: pointer;
  color: #596a7e;
}
#listPageId .listIncomingRow .icon,
#listPageId .listIncomingRow .value {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0 5px;
}
#listPageId .listIncomingRow .icon {
  width: 19px;
  height: 19px;
}
#listPageId .listIncomingRow .text {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 5px;
}
#listPageId .total {
  text-align: right;
  padding: 0 10px;
  border-top: 1px solid #00bfc7;
  color: #1ca834;
  font-weight: 500;
}
#listPageId .total.negative {
  color: red;
}
#stablePageId {
  box-sizing: border-box;
  text-align: center;
}
#stablePageId .stableButton {
  display: inline-block;
  margin: 30px 10%;
  padding: 20px;
  font-size: 1.2em;
  background: #43adba;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
}
#stablePageId .stableButtonWaste {
  background: rgba(127, 89, 188, 0.69019608);
}
#stablePageId .windowPopup {
  overflow-y: scroll;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
#stablePageId .plusButton {
  text-align: center;
  margin: 15px 0;
}
#stablePageId .actionButton {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: 1.5em;
  line-height: 30px;
  background: #43adba;
  border: 1px solid #358a95;
  color: white;
  padding: 10px;
}
html,
body {
  background: #f7f7ff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", Roboto, "Segoe UI", Segoe, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  position: relative;
  overflow: hidden;
}
button,
input,
select {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  border-style: solid;
  cursor: pointer;
}
a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.mainContainer {
  box-sizing: border-box;
  position: absolute;
  margin-top: 51px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
}
.mainContainer .pageClass {
  box-sizing: border-box;
  padding: 4px;
  width: 100%;
  height: 100%;
  position: relative;
}
.form {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px sodid #43adba;
  font-size: 1.6em;
  color: rgba(102, 65, 161, 0.69019608);
}
.form.useShadow {
  box-shadow: 0 0 3px 4px #f5f5ff;
}
.form .formFeild {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.form .label {
  -webkit-box-flex: 0 1 40%;
  -webkit-flex: 0 1 40%;
  -moz-flex: 0 1 40%;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}
.form .input,
.form .select {
  border: none;
  margin: 0 5px;
  font-size: 1em;
  color: rgba(127, 89, 188, 0.69019608);
  background: inherit;
}
.form .input {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(102, 65, 161, 0.69019608);
  width: 100%;
  border-radius: 0;
  padding: 0 5px;
}
.form .select {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.form .buttons {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
}
.form .buttons .button {
  font-size: 1em;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.form .buttons .cancel {
  background: #596a7e;
  color: white;
  border: 1px solid #445160;
}
.form .buttons .apply {
  background: rgba(127, 89, 188, 0.69019608);
  color: white;
  width: 60%;
  max-width: 200px;
  border: 1px solid rgba(102, 65, 161, 0.69019608);
}
.windowPopup {
  position: absolute;
  box-sizing: border-box;
  padding: 5px;
  z-index: 2;
  top: 0;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px #bfb3b3;
  background: rgba(89, 106, 126, 0.97);
}
.windowPopup .windowHeader {
  padding: 20px 10px;
  text-align: center;
  font-size: 2em;
  color: white;
}
.windowPopup .form .buttons .apply {
  background: #7f59bc;
  border-color: #a98dd5;
}
.windowPopup .form .buttons .cancel {
  border-color: #9b98a0;
}
@media only screen and (min-width: 700px) {
  #menuId,
  #menuId.shown {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
  }
  .mainContainer {
    margin-left: 250px;
  }
  .pageClass {
    max-width: 700px;
  }
}
