
#overviewGraphPageId {
    height: 100%;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;


    .box {
        .box();
        .flex(0 1 auto);
        .flex-direction(row);
        color: #578499;
    }

    .green {
        color: #1ca834;
        font-weight: 600;
    }

    .orange {
        color: #36a2eb;
        font-weight: 600;
    }

    .line {
        border-top: 1px solid #2196F3;
        border-bottom: 1px solid #2196F3;
        height: 2px;
        margin: 0 20%;
    }

    .savings {
        color: #FF5722;
        font-weight: 600;
    }

    .row {
        height: 20px;
    }

    .column {
        .box();
        .flex(0 1 45%);
        .flex-direction(column);
        padding: 15px 10px;
    }

    .leftBudget {
        font-weight: 600;
        color: #9e38c0;
    }

    .right {
        .align-items-end();
    }

    .left {
        .align-item-start();
    }
}