@import "../variables";

#paymentPageId {
    @whiteBack: #43adba;
    @textColor: rgba(0,191,199,0.8);
    @valueColor: rgba(127, 89, 188, 0.6901960784313725);
    @cancelColor: #596a7e;

    .form {
        .box();
        .flex-direction(column);
        border: 1px sodid @whiteBack;
        font-size: 1.6em;
        color: darken(@valueColor, 10%);
        box-shadow: 0 0 3px 4px #f5f5ff;
    }

    .formFeild {
        .box();
        .flex-direction(row);
        background: white;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
    }

    .label {
        .flex(0 1 40%);
    }

    .input, .select {
        border: none;
        border-bottom: 1px solid darken(@valueColor, 10%);
        margin: 0 5px;
        font-size: 1em;
        color: @valueColor;
    }

    .input {
        .flex(1 1 auto);
        width: 100%;
        padding: 0 5px;
    }

    .select {
        .flex(0 0 auto);
    }

    .buttons {
        .box();
        .flex-direction(row);
        .justify-content-end();

        .button {
            font-size: 1em;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }

        .cancel {
            background: @cancelColor;
            color: white;
            border: 1px solid darken(@cancelColor, 10%);
        }

        .apply {
            background: @valueColor;
            color: white;
            width: 60%;
            max-width: 200px;
            border: 1px solid darken(@valueColor, 10%);
        }
    }
}